{% extends 'base.html' %}
{% block content %}

<div class="row">
    <h1>Paxtani navlari haqida umumiy ma’lumot</h1>
    
    <p>Paxta 60 dan ortiq mamlakatlarda uni etishtirish, qayta ishlash va sotish bilan shug'ullanadigan yuzlab million odamlarni ish bilan ta'minlovchi va daromad keltiradigan yirik qishloq xo'jaligi va sanoat ekinidir. Rivojlanayotgan dunyoning ko'pgina mamlakatlari uchun paxta iqtisodiy asosni tashkil qiladi va asosiy valyuta fondi hisoblanadi. </p>
    <p>Paxta asosiy tabiiy tolali ekin bo'lib, shuningdek, chorvachilik uchun oziq-ovqat yog'i va urug'lik qo'shimcha mahsulotini beradi. Biroq, dunyoda paxta va uni davolash bo'yicha olib borilgan tadqiqotlarning aksariyati uni tolali ekin sifatida e'tirof etish bilan cheklanadi. Paxta hayotimizga tanib bo'lmas darajada ta'sir ko'rsatadi.</p>
    <p>"Paxta" so'zi arabcha "al qatan" so'zidan olingan. Paxta o‘simligi necha yoshda ekanligini hech kim bilmaydi. Dunyoda paxtadan foydalanish bo'yicha birinchi arxeologik kashfiyotlardan biri Pokistonda Mohenjo Daroda joylashgan. Ushbu topilma 5000 yildan ortiqroq yoshdadir. Paxta o'simligi ko'p yillik (ko'p yillar davom etadigan) daraxtdir, lekin psevdo-yillik buta sifatida yetishtirish uchun xonakilashtirilgan. G‘o‘za ko‘p yillik daraxt sifatida yil sayin o‘sishga qodir, o‘sish uchun qulay shart-sharoitlar mavjud bo‘lsa, gul va ko‘sak hosil qiladi. O'sish sharoitlari yaxshi bo'lsa, u gul va ko'saklarni ishlab chiqarishni to'xtatmaydi.</p>
    
    <h1>Umuman olganda, butun dunyoda paxtaning to'rtta turi mavjud:</h1>
    <ol>
        <li>Gossypium hirsutum - tog'li paxta, vatani Markaziy Amerika, Meksika, Karib dengizi</li>
        <li>Gossypium barbadense - tropik Janubiy Amerikada tug'ilgan ekstra uzun shtapel paxta sifatida tanilgan</li>
        <li>Gossypium arboreum - Hindiston va Pokistonda tug'ilgan daraxt paxtasi</li>
        <li>Gossypium herbaceum - Afrikaning janubida va Arabiston yarim orolida joylashgan Levant paxtasi</li>
    </ol>
</div>

{% endblock %}