body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;  
    color: rgb(0, 0, 0);  
    
}
nav{
    background: rgb(131, 131, 254);
    padding: 30px 150px; 
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.home{
    background: rgb(237, 237, 255);
    /* background-image: url('../img/for_bg1.avif'); */
    background-size: cover;
    min-height: 750px;
}
.logo{
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.btn{
    border: none;
    border-radius: 1px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background: rgba(2, 2, 105, 0.933);
    display: block;
    text-align: center;
    width: 280px;
    margin: 10px 0;
}
.container{
    padding: 50px 150px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
}
.container2{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    padding: 50px;
}
ol li{
    font-size: 21px;
    line-height: 2;
}
.main_img{
    width: 90%;
    height: 90%;
    border-radius: 20px;
}
.link{
    text-decoration: none;
    font-size: 20px;
    color: rgba(97, 23, 216, 0.887);
    font-weight: 700;
}

p{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}

.table th{
    padding: 5px 10px;
    background: rgba(203, 203, 255, 0.933);
    color: black;
    font-size: 18px;
    font-weight: 700;
}
.table td{
    background: rgba(244, 244, 255, 0.933);
    font-size: 18px;
    padding: 5px 15px;
    color: black;
}



