{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
            Paxta navlari
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'still/main.css' %}">
     </head>
<body>
    <div class="home">
        <nav>
            <a href="{% url 'mainapp:home_page' %}" class="logo">Bosh menu</a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'mainapp:details' %}" class="btn">Shaxsiy kabinet</a>
            {% else %}
            <a href="{% url 'mainapp:login' %}" class="btn">Tizimga kirish</a>
            {% endif %}
         </nav>

         {% block content %}   
         {% endblock content %}
    </div>
</body>
</html>