{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

     <title>{% block title %}Bosh sahifa{% endblock title %}</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/aos.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/templatemo-digital-trend.css' %}">

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'mainapp:home_page' %}">
               <i class="fa fa-cotton-bureau"></i>
               Bosh sahifa
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'mainapp:cotton_list' pk=2 %}" class="nav-link">Mahalliy navlar</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'mainapp:cotton_list' pk=1 %}" class="nav-link smoothScroll">Mashxur navlar</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'mainapp:standart' %}" class="nav-link smoothScroll">Tola standartlari</a>
                    </li>
                    <li class="nav-item">
                         {% if request.user.is_authenticated %}
                         <a href="{% url 'mainapp:details' %}" class="nav-link contact">Kabinet</a>
                         {% else %}
                         <a href="{% url 'mainapp:login' %}" class="nav-link contact">Kirish </a>
                         {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>


{% block content %}
{% endblock content %}


    <footer class="">
        <div class="row">

          <div class=" mx-lg-auto text-center" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">2023 &copy; Bitiruv malakaviy ishi
          </div>


        </div>
    </footer>


     <!-- SCRIPTS -->
     <script src="{% static 'js/jquery.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/aos.js' %}"></script>
     <script src="{% static 'js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>