{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
   <img src="{% static 'img/paxta2.jpg' %}" class="main_img" alt="Paxta">
   <div class="description">
      <h1>Paxta haqida</h1>
      <p>
         Bizning platforma paxta navlari va ular haqida malumotlar joylashgan. Bu platforma orqali paxta haqida to'liq malumot olishingiz mumkin.
      </p>
      <div>
         <a href="{% url 'mainapp:umumiy' %}" class="btn">Paxta haqida umumiy</a>
         <a href="{% url 'mainapp:cotton_list' pk=1 %}" class="btn">Dunyoga mashxur navlar</a>
         <a href="{% url 'mainapp:cotton_list' pk=2 %}" class="btn">Mahalliy navlar</a>
      </div>
   </div>
</div>

{% endblock content %}