{% extends 'base.html' %}
{% load static %}
{% block content %}
     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
      <div class="container">
           <div class="row">

               <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                     <div class="hero-text">

                          <h1 class="text-white" data-aos="fade-up">Paxta haqidagi malumotlar bazamizga xush kelibsiz</h1>

                          <a href="{% url 'mainapp:umumiy' %}" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Paxta haqida umumiy malumot</a>

                          <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-2"></i> +998 33 561 62 02</strong>
                     </div>
               </div>

               <div class="col-lg-6 col-12">
                 <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                   <img src="{% static 'images/working-girl.png' %}" class="img-fluid" alt="working girl">
                 </div>
               </div>

           </div>
      </div>
</section>


<!-- ABOUT -->
<section class="about section-padding pb-0" id="about">
 <div class="container">
      <div class="row">

           <div class="col-lg-7 mx-auto col-md-10 col-12">
                <div class="about-info">

                     <h2 class="mb-4" data-aos="fade-up">Assalomu Aleykum <br><strong>Xush kelibsiz !</strong></h2>

                     <p class="mb-0" data-aos="fade-up">Bizning platformamizda paxta navlari ular haqidagi ma'lumotlar bazasi joylangan. Bu platforma orqali paxta haqidagi ma'lumotlarni olishingiz mumkin.</p>
                </div>

                <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                 <img src="{% static 'images/working-girl.png' %}" class="img-fluid" alt="office">
               </div>
           </div>

      </div>
 </div>
</section>


<!-- PROJECT -->
<section class="project section-padding" id="project">
 <div class="container-fluid">
      <div class="row">

           <div class="col-lg-12 col-12">

               <h2 class="mb-5 text-center" data-aos="fade-up">
                Butun dunyoda paxtaning <br><strong>to'rtta turi</strong> mavjud
                   
               </h2>

                <div class="owl-carousel owl-theme" id="project-slide">
                     <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                          <img src="{% static 'img/nav1.jfif' %}" class="img-fluid" alt="project image">

                          <div class="project-info">
                               <h3>
                                    <a href="project-detail.html">
                                         <span>1. Gossypium Hirsutum</span>
                                    </a>
                               </h3>
                          </div>
                     </div>

                     <div class="item project-wrapper" data-aos="fade-up">
                          <img src="{% static 'img/nav2.jfif' %}" class="img-fluid" alt="project image">

                          <div class="project-info">

                               <h3>
                                    <a href="project-detail.html">
                                         <span>2. Gossypium Barbadense</span>
                                    </a>
                               </h3>
                          </div>
                     </div>

                     <div class="item project-wrapper" data-aos="fade-up">
                          <img src="{% static 'img/nav3.jpg' %}" class="img-fluid" alt="project image">

                          <div class="project-info">
                               <h3>
                                    <a href="project-detail.html">
                                         <span>3. Gossypium Arboreum</span>
                                    </a>
                               </h3>
                          </div>
                     </div>

                     <div class="item project-wrapper" data-aos="fade-up">
                          <img src="{% static 'img/nav4.JPG' %}" class="img-fluid" alt="project image">

                          <div class="project-info">

                               <h3>
                                    <a href="project-detail.html">
                                         <span>4. Gossypium Herbaceum</span>
                                    </a>
                               </h3>
                          </div>
                     </div>

                
                </div>
           </div>

      </div>
 </div>
</section>


<!-- TESTIMONIAL -->
<section class="testimonial section-padding">
 <div class="container">
      <div class="row">

           <div class="col-lg-6 col-md-5 col-12">
               <div class="contact-image" data-aos="fade-up">

                 <img src="{% static 'img/paxta2.jpg' %}" class="img-fluid" alt="website">
               </div>
           </div>

           <div class="col-lg-6 col-md-7 col-12">
             <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

             <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Paxta 60 dan ortiq mamlakatlarda uni etishtirish, qayta ishlash va sotish bilan shug'ullanadigan yuzlab million odamlarni ish bilan ta'minlovchi va daromad keltiradigan yirik qishloq xo'jaligi va sanoat ekinidir. Rivojlanayotgan dunyoning ko'pgina mamlakatlari uchun paxta iqtisodiy asosni tashkil qiladi va asosiy valyuta fondi hisoblanadi.</h2>
           </div>

      </div>
 </div>
</section>

{% endblock content %}